<div class="container access w-auto-xs text-center m-t-n-md">
    <a ui-sref="main"><img class="m-b-xl" src="assets/images/logo/ydm.logo.white.png"/></a>

    <div class="panel b-a r-n">
        <div class="panel-heading">
            <h3 class="m-t-md m-b-none">Sign in</h3>
        </div>
        <div class="panel-body wrapper-lg">
            <!-- password login -->
            <form name="login_form" role="form" novalidate valdr-type="Login">
                <div class="form-group" valdr-form-group>
                    <div class="input-group">
                      <span class="input-group-addon bg-white text-muted">
                      <i class="glyphicon glyphicon-user text-primary"></i>
                      </span>
                        <input type="text" name="username" class="form-control input-lg" placeholder="Username"
                               ng-model="user.username">
                    </div>
                </div>
                <div class="form-group" valdr-form-group>
                    <div class="input-group">
                        <span class="input-group-addon bg-white text-muted">
                        <i class="glyphicon glyphicon-lock text-primary"></i>
                        </span>
                        <input type="password" name="password" class="form-control input-lg" placeholder="Password"
                               ng-model="user.password">
                    </div>
                </div>
                <button type="submit" ng-click="login(user, login_form)" class="btn btn-lg btn-primary btn-block">
                    Login
                </button>
            </form>
        </div>
        <div ui-sref="access.register" class="panel-footer wrapper clickable">
            No Account? <span class="text-u-l m-l-xs text-primary">Contact</span>
        </div>
    </div>
</div>
