<div class="access w-auto-xs container p-t-lg text-center">
    <a ui-sref="main"><img class="m-b-xl" src="assets/images/logo/ydm.logo.png"/></a>

    <div class="panel b-a r-n">
        <div class="panel-heading">
            <h3 class="m-t-md m-b-none">Anmelden</h3>
        </div>
        <div class="panel-body wrapper-lg">
            <!-- password login -->
            <form name="login_form" role="form" novalidate valdr-type="Login">
                <div class="form-group" valdr-form-group>
                    <div class="input-group">
                      <span class="input-group-addon bg-white text-muted">
                      <i class="glyphicon glyphicon-envelope text-primary"></i>
                      </span>
                        <input type="email" name="email" class="form-control input-lg" placeholder="E-Mail Adresse"
                               ng-model="user.email">
                    </div>
                </div>
                <div class="form-group" valdr-form-group>
                    <div class="input-group">
                        <span class="input-group-addon bg-white text-muted">
                        <i class="glyphicon glyphicon-lock text-primary"></i>
                        </span>
                        <input type="password" name="password" class="form-control input-lg" placeholder="Passwort"
                               ng-model="user.password">
                    </div>
                </div>
                <button type="submit" ng-click="login(user, login_form)" class="btn btn-lg btn-primary btn-block">
                    Anmelden
                </button>
            </form>
        </div>
        <div ui-sref="access.register" class="panel-footer wrapper clickable">
            Du hast noch keinen Account? <span class="text-u-l m-l-xs text-primary">Registrieren</span>
        </div>
    </div>
</div>
