<div ng-switch="filter.type.id">
    <div ng-switch-when="1">
        <div class="form-horizontal">
            <div class="row" ng-class="{'greyed-out': filter.sequence == -1}">
                <div class="col-sm-6">
                    <div class="input-group" ng-cancel-drag ng-init="filter.isSelected = false;">
                        <div class="btn-switch btn-switch-inverse pull-right pull-left-xs">
                            <input type="checkbox" ng-model="filter.isSelected" id="switch-{{filter.id}}">
                            <label for="switch-{{filter.id}}"></label>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-inverse" type="button" ui-sref="app.filter({fId: filter.id})">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">{{filter.name}}</label>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="2">
        <div class="form-horizontal">
            <div class="row" ng-class="{'greyed-out': filter.sequence == -1}">
                <div class="col-sm-6">
                    <div class="input-group" ng-cancel-drag>
                        <select class="form-control custom-select custom-select-inverse"
                                ng-model="filter.Property"
                                ng-options="property.name for property in filter.propertyGroupFilter.propertyGroup.properties">
                            <option value="" disabled selected style="display: none;">All</option>
                        </select>
                         <span class="input-group-btn">
                            <button class="btn btn-inverse" type="button" ui-sref="app.filter({fId: filter.id})">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">{{filter.name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>