<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Flowmeter types
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Technology:</label>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control custom-select" ng-model="technology"
                                    ng-options="technology.description for technology in technologies">>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Product line:</label>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control custom-select" ng-model="productLine"
                                    ng-options="productLine.description group by productLine.productLineGroup.description for productLine in productLines">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Basic filters
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 m-t-sm m-b-sm" ng-repeat="filter in filters" ng-if="filter.group.id==1">
                <div ng-switch="filter.type.id">
                    <div ng-switch-when="1">
                        <div class="checkbox custom-control custom-checkbox">
                            <label>
                                <input type="checkbox" ng-model="filter.isSelected">
                                <span class="custom-control-indicator"></span>
                                {{filter.name}}
                            </label>
                        </div>
                    </div>
                    <div ng-switch-when="2">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <select class="form-control custom-select"
                                                ng-model="filter.Property"
                                                ng-options="property.name for property in filter.propertyGroupFilter.propertyGroup.properties">
                                            <option value="" disabled selected style="display: none;">All</option>
                                        </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-edit"></i></button>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">{{filter.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Advanced filters
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 m-t-sm m-b-sm" ng-repeat="filter in filters" ng-if="filter.group.id==2">
                <div ng-switch="filter.type.id">
                    <div ng-switch-when="1">
                        <div class="checkbox custom-control custom-checkbox">
                            <label>
                                <input type="checkbox" ng-model="filter.isSelected">
                                <span class="custom-control-indicator"></span>
                                {{filter.name}}
                            </label>
                        </div>
                    </div>
                    <div ng-switch-when="2">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>{{filter.name}}:</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control custom-select"
                                        ng-model="filter.Property"
                                        ng-options="property.name for property in filter.propertyGroupFilter.propertyGroup.properties">
                                    <option value="" disabled selected style="display: none;">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>