<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Flowmeter types
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-horizontal">
                        {{technology}}
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">Technology:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control custom-select" ng-model="technology"
                                        ng-options="technology.description for technology in technologies track by technology.id">
                                    <option value="" disabled selected style="display: none;">Please select one technology!</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="technology">
                            <div class="col-sm-3">
                                <label class="control-label">Product line:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control custom-select" ng-model="productLine"
                                        ng-options="productLine.description group by productLine.productLineGroup.description for productLine in productLines track by productLine.id">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="filters" class="panel panel-default b-t b-t-4x b-t-secondary">
        <div class="panel-heading">
            <div class="panel-title">
                Basic filters
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div ng-repeat="filter in filters" ng-if="filter.group.id == 1">
                    <div ng-class="{'col-sm-6': layout[filter.group.id] < 2 || layout[filter.group.id] === undefined, 'col-sm-4': layout[filter.group.id] >= 2}">
                        <div class="dragable" ng-drop="true"
                             ng-drop-success="onDropComplete($index, $data, $event)">
                            <div ng-drag="true" ng-drag-data="filter" data-allow-transform="true"
                                 data-ng-include="'app/app/filter/partials/group.html'"></div>
                        </div>
                    </div>
                </div>
                <div ng-class="{'col-sm-6': layout[1] < 2 || layout[1] === undefined, 'col-sm-4': layout[1] >= 2}">
                    <div class="dragable dragable-add">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="filters" class="panel panel-default b-t b-t-4x b-t-secondary">
        <div class="panel-heading">
            <div class="panel-title">
                Advanced filters
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div ng-repeat="filter in filters" ng-if="filter.group.id == 2">
                    <div ng-class="{'col-sm-6': layout[filter.group.id] < 2 || layout[filter.group.id] === undefined, 'col-sm-4': layout[filter.group.id] >= 2}">
                        <div class="dragable"
                             ng-drop="true"
                             ng-drop-success="onDropComplete($index, $data, $event)">
                            <div ng-drag="true" ng-drag-data="filter" data-allow-transform="true"
                                 data-ng-include="'app/app/filter/partials/group.html'"></div>
                        </div>
                    </div>
                </div>
                <div ng-class="{'col-sm-6': layout[2] < 2 || layout[2] === undefined, 'col-sm-4': layout[2] >= 2}">
                    <div class="dragable dragable-add"
                         ng-drop="true"
                         ng-drop-success="onDropAddComplete($index, $data, $event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filter-control" ng-show="filtersChanged">
    <div class="container">
        <div class="text-center">
            <div>
                <button ng-click="update(filters)" class="btn btn-sm btn-success w-xs m-r-xs">Save</button>
                <button ng-click="reset()" class="btn btn-sm btn-default w-xs">Reset</button>
            </div>
        </div>
    </div>
</div>