<div class="container">
    <div class="dashhead m-b-sm">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle"></h6>
            <h3 class="dashhead-title">{{::filter.name}}</h3>
        </div>

        <div class="dashhead-toolbar">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="flextable">
                <div class="flextable-item flextable-primary">
                    <div class="panel-title">
                        Meta
                    </div>
                </div>
                <div class="flextable-item">
                    <div class="panel-toolbar">
                        <a ng-click="metaForm.$valid && update(filter)" ng-disabled="metaForm.$pristine"><span
                                class="glyphicon glyphicon-floppy-disk"></span> Save</a>
                        <a ng-click="reset()" ng-disabled="metaForm.$pristine"><span
                                class="glyphicon glyphicon-refresh"></span> Reset</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="metaForm" novalidate class="form-horizontal">
                <div class="form-group"
                     ng-class="{ 'has-error has-feedback': metaForm.shortName.$dirty && metaForm.shortName.$invalid, 'has-success has-feedback': metaForm.shortName.$dirty && metaForm.shortName.$valid }">
                    <div class="col-sm-2">
                        <label class="control-label">Short name:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text"
                               name="shortName"
                               class="form-control"
                               ng-model="filter.shortName"
                               ng-minlength="1"
                               ng-maxlength="50"
                               required>

                        <span ng-show="metaForm.shortName.$dirty && metaForm.shortName.$valid"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-show="metaForm.shortName.$dirty && metaForm.shortName.$invalid"
                              class="glyphicon glyphicon-remove form-control-feedback"></span>

                        <div class="help-block" ng-messages="metaForm.shortName.$error"
                             ng-show="metaForm.shortName.$dirty && metaForm.shortName.$invalid">
                            <div ng-messages-include="components/form/validation.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error has-feedback': metaForm.name.$dirty && metaForm.name.$invalid, 'has-success has-feedback': metaForm.name.$dirty && metaForm.name.$valid }">
                    <div class="col-sm-2">
                        <label class="control-label">Name:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text"
                               name="name"
                               class="form-control"
                               ng-model="filter.name"
                               ng-minlength="1"
                               ng-maxlength="50"
                               required>

                        <span ng-show="metaForm.name.$dirty && metaForm.name.$valid"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-show="metaForm.name.$dirty && metaForm.name.$invalid"
                              class="glyphicon glyphicon-remove form-control-feedback"></span>

                        <div class="help-block" ng-messages="metaForm.name.$error"
                             ng-show="metaForm.name.$dirty && metaForm.name.$invalid">
                            <div ng-messages-include="components/form/validation.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error has-feedback': metaForm.group.$dirty && metaForm.group.$invalid, 'has-success has-feedback': metaForm.group.$dirty && metaForm.group.$valid }">
                    <div class="col-sm-2">
                        <label class="control-label">Group:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control custom-select"
                                name="group"
                                ng-model="filter.group"
                                ng-options="group as group.name for group in groups track by group.id"
                                required>
                        </select>

                        <div class="help-block" ng-messages="metaForm.group.$error"
                             ng-show="metaForm.group.$dirty && metaForm.group.$invalid">
                            <div ng-messages-include="components/form/validation.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error has-feedback': metaForm.type.$dirty && metaForm.type.$invalid, 'has-success has-feedback': metaForm.type.$dirty && metaForm.type.$valid }">
                    <div class="col-sm-2">
                        <label class="control-label">Type:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control custom-select"
                                name="type"
                                ng-model="filter.type"
                                ng-options="type as type.name for type in types track by type.id"
                                required>
                        </select>

                        <div class="help-block" ng-messages="metaForm.type.$error"
                             ng-show="metaForm.type.$dirty && metaForm.type.$invalid">
                            <div ng-messages-include="components/form/validation.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error has-feedback': metaForm.productGroup.$dirty && metaForm.productGroup.$invalid, 'has-success has-feedback': metaForm.productGroup.$dirty && metaForm.productGroup.$valid }">
                    <div class="col-sm-2">
                        <label class="control-label">Product group:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control custom-select"
                                name="productGroup"
                                ng-model="filter.productGroup"
                                ng-options="productGroup as productGroup.description for productGroup in productGroups track by productGroup.id"
                                ng-disabled="filter.productGroup"
                                required>
                        </select>

                        <div class="help-block" ng-messages="metaForm.productGroup.$error"
                             ng-show="metaForm.productGroup.$dirty && metaForm.productGroup.$invalid">
                            <div ng-messages-include="components/form/validation.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">Display sequence:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text"
                               name="sequence"
                               class="form-control"
                               ng-model="filter.sequence"
                               required
                               disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="flextable">
                <div class="flextable-item flextable-primary">
                    <div class="panel-title">
                        Properties
                    </div>
                </div>
                <div class="flextable-item">
                    <div class="panel-toolbar">
                        <a ui-sref="app.filters.edit.properties.add"><span class="glyphicon glyphicon-plus"></span> Add</a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-condensed m-b-none">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>min. Temperature</th>
                <th>max. Temperature</th>
                <th>max. Pressure</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="property in filter.propertyGroupFilter.propertyGroup.properties">
                <td>{{property.id}}</td>
                <td>{{property.name}}</td>
                <td>{{property.minTemp || '-'}}</td>
                <td>{{property.maxTemp || '-'}}</td>
                <td>{{property.maxPressure || '-'}}</td>
                <td>
                    <div class="text-center">
                        <a ui-sref="app.filters.edit.properties.edit({pId: property.id})">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a>
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr ng-if="filter.propertyGroupFilter.propertyGroup.properties.length===0">
                <td colspan="6" class="text-center">
                    <strong class="h3 wrapper inline m-n">No properties found</strong>
                </td>
            </tr>
        </table>
    </div>
</div>