<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Flowmeter types
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">Technology:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control custom-select" ng-model="technology"
                                        ng-options="technology.description for technology in technologies">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">Product line:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control custom-select" ng-model="productLine"
                                        ng-options="productLine.description group by productLine.productLineGroup.description for productLine in productLines">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default b-t b-t-4x b-t-secondary">
        <div class="panel-heading">
            <div class="panel-title">
                Basic filters
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 m-t-sm m-b-sm" ng-repeat="filter in filters" ng-if="filter.group.id==1">
                    <div class="dragable">
                        <div data-ng-include="'app/app/home/partials/filter.html'"></div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-sm m-b-sm">
                    <div class="dragable"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default b-t b-t-4x b-t-secondary">
        <div class="panel-heading">
            <div class="panel-title">
                Advanced filters
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 m-t-sm m-b-sm" ng-repeat="filter in filters" ng-if="filter.group.id==2">
                    <div class="dragable">
                        <div data-ng-include="'app/app/home/partials/filter.html'"></div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-sm m-b-sm">
                    <div class="dragable"></div>
                </div>
            </div>
        </div>
    </div>
</div>